.star {
    font-size: 2.5em;
    width: 1em;
    height: 1.5em;
    color: grey;
    background-color: white;
    border-width: 0;
  }

@import "tailwindcss/base";
html {
    scroll-behavior: smooth;
}
@import "tailwindcss/components";
@import "tailwindcss/utilities";
